<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1 v-if="isLogin">尊敬的超级vip,你好</h1>
      <h1 v-else>先登录</h1>

      <h1 v-if="age >= 80">80岁以上</h1>
      <h1 v-else-if="age >= 60">60岁以上</h1>
      <h1 v-else-if="age >= 20">20岁以上</h1>
      <h1 v-else>20以下</h1>
    </div>

    <script src="./vue.js"></script>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          msg: "hello",
          isLogin: true,
          age: 12,
        },
      });
    </script>
  </body>
</html>
