<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 
        for作用：可以遍历数组或者对象
        需要重复渲染谁，就给谁加v-for
        1.遍历数组（常用）
            v-for='item in 数组名'  item遍历的每一项
            v-for = "(item, index) in 数组名" index就是下标
        
        2.遍历对象（基本不用）
        v-for = "(value, prop) in 对象名"  value 属性值，prop属性名 
     -->
    <div id="app">
      <ul>
        <li v-for="item in list">{{item}}</li>
      </ul>
      <hr />
      <ul>
        <li v-for="(item, index) in list2">{{item}}和{{index}}</li>
      </ul>
      <hr />
      <ul>
        <li v-for="(item, index) in list2">{{index}}</li>
      </ul>
      <hr />
      <!-- 遍历对象展示  prop属性名  value属性值 -->
      <ul>
        <li v-for="(value, prop) in obj">{{prop}} : {{value}}</li>
      </ul>
    </div>

    <script src="./vue.js"></script>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          list: ["张飞", "关羽", "赵云", "马超", "黄忠"],
          list2: ["典韦", "许褚", "徐晃", "乐进", "于禁"],
          obj: {
            name: "曹操",
            age: 30,
            desc: "乱世奸雄",
          },
        },
      });
    </script>
  </body>
</html>
